<% content_for(:page_title) { "ShopWithMe - Seaching for #{params[:search]}" } %>
<% content_for(:page_description) { "ShopWithMe - Seaching for #{params[:search]}" } %>

<%=render 'products/search_form'%>

<div class="main_content detail-product">
  <h3 class="title">LISTINGS</h3>

  <% if @results.size > 0 %>
    
    <% @results.each do |result| %>
      <% if result.is_a?(Product)%>
        <% path = ab_test('details_link_to_visit_in_listing', 'yes', 'no')%>
        <%= render result, :path => path %>
      <% else %>
        <%= render result %>
      <% end %>
    <% end %>
    <%#= render @products %>
    <%= paginate @results, :window => 2 %>
  <% else %>
    <%= render 'no_items' %>
  <% end %>

</div>
