<% content_for(:page_title) { @advertiser.name } %>
<% content_for(:page_description) { @advertiser.strapline.blank? ? @advertiser.name : @advertiser.strapline  } %>

<div class="span8">
  <h2><%=raw(@advertiser)%></h2>

  <%= render @products %>
  <%= paginate @products, :window => 2 %>
</div>
<div class="span4 right">

  <% unless @advertiser.categories_count.size == 0 %>

    <h3>has products in <%=pluralize( @advertiser.categories_count.size, "category" )%></h3>
    <ul class="nav nav-tabs nav-stacked category-list">
      <% @advertiser.categories_count.each do |cat_hash| %>
        <% next if cat_hash.first.nil? %>
        <li><a href="<%=category_advertiser_path(@advertiser,cat_hash.first) %>" title="More in category <%=raw cat_hash.first%>"><%=raw cat_hash.first%>  (<%=cat_hash.last%>)</a></li>
      <% end %>
    </ul>
  <% end %>
</div>


