<div class="listing-item">
  <div class="row-fluid">             
    <div class="span9">
      <div class="featured-item">
        <div class="span2"><%=avatar_of_advertiser(deal.advertiser)%></div>
        <div class="span10">
          <h5><a href="detail.html"><%=deal.description%></a></h5>
          in <%= link_to_category(deal.advertiser.category,:short) %> - 
          <span class="expires " data-exp="<%=deal.end_date.to_i %>"><%=distance_of_time_in_words(Time.now, deal.end_date)%></span>
        </div>                
      </div>                
    </div>
    <div class="span3 block">
      <form action="<%=visit_deal_path(deal)%>" class="button_to" method="post">
        <% if deal.has_code? %>
          <button class="btn btn-small btn-primary code" data-code="<%= deal.code %>" type="submit"><i class="icon-arrow-right icon-white"></i>Get the Code & Open Site </button>
        <% else %>
          <button class="btn btn-small btn-primary deal" type="submit"><i class="icon-arrow-right icon-white"></i> Open Site </button>
        <% end %>
        <input name="authenticity_token" type="hidden" value="pqB2GXE1MpuouIKhiqf8pGEyutadjM0QShu77FIgQA4=" />
      </form>      
    </div>
  </div>
</div>