<% content_for(:page_title) { "Listing Brands" } %>
<% content_for(:page_description) { "Listing Brands - #{@brands.map{|a| a.name}.join(', ')}" } %>


<div class="span8">

  <h2>Listing all the brands</h2>

  <div class="pagination">
    <ul>
      <% 26.times do |index|%>
        <li<%=' class=active' if !params[:chr].nil? and params[:chr].include?((65 + index).chr)%>><a href="<%=brands_path%>?chr=<%= (65 + index).chr%>"><%= (65 + index).chr%></a></li>
      <% end %>
    </ul>
  </div>

  <% @brands.each do |brand|%>
    <div class="media product-list">
      <%#= render :partial => 'logo', :locals => {:advertiser => advertiser} %>
      <div class="media-body pull-left">
        <h4 class="media-heading"><%= link_to raw(brand.name), brand_path(brand), {
          :title => raw(brand.name)
        }  %><small><%#= raw(' &mdash; ' + advertiser.strapline) unless advertiser.strapline.empty? %></small></h4>
      </div>
      <%= link_to "View #{number_with_delimiter(brand.products.count)} products", brand_path(brand), {
          :class => 'btn btn-charlie pull-right', 
          :title => raw(brand.name)
        } %>
    </div>
  <% end %>

  <%= paginate @brands, :window => 2 %>
</div>
