<% content_for(:page_title) { @brand.name } %>
<% content_for(:page_description) { "View products by #{@brand}"} %>

<%=render 'products/search_form' %>
<div class="main_content detail-product">
  <h3 class="title">LISTINGS by <%=@brand%></h3>

  <% path = ab_test('details_link_to_visit_in_listing', true, false)%>

  <% if @products.size > 0 %>
    <%= render @products, :path => path  %>
    <%= paginate @products, :window => 2 %>
  <% else %>
    <%= render 'products/no_products' %>
  <% end %>

</div>
