<% path = (path == true ? visit_product_path(product) : product_path(product) ) %>
<div class="listing-item" itemscope itemtype="http://schema.org/Product">
  <div class="row-fluid">
    <div class="span7">
      <div class="featured-item">
        <div class="span4">
          <%= avatar_of_product(product, {}, {:class => "img", :itemprop=>"image" })%>

<%
=begin %> 
<div class="rate">
            <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
          </div>  
<%
=end %>
        </div>
        <div class="span8">
          <h5><%= link_to_product(product, :short , { :class => "title", :itemprop=>"name" }) %></h5>
          in  <%= link_to_category(product.category,:short, {:class => "subinfo"}) %>
          <p itemprop="description"><%=(product.short_description(20)) %></p> 
          
<%
=begin %>   <i>(0 review)</i> 
<%
=end %>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="other_info">
        <% if product.price > 0 %>
          <span class="label label-important price"><%=product.price%> <%=product.currency%></span> <!-- Save 15% -->
          <hr/>
        <% end %>
        <address>
          <i><%=link_to_advertiser(product.advertiser)%>
           <br />
           <%= (product.advertiser.strapline) %></i>
        </address>
        <p>
          
          <strong>Merchant:</strong> <%=link_to_advertiser(product.advertiser)%><br/>
          <% unless product.brand.nil? %>
            <strong>Brand:</strong> <%=link_to_brand(product.brand, :short)%><br/>  
          <% end %>
          <strong>Merchant URL:</strong> 
          <a href="<%=product.advertiser.promote_url%>" rel="nofollow" target="_blank"><%=product.advertiser.single_url%></a></p>
          <%= link_to 'Details', path, {
            :class => 'btn btn-small btn-primary ', 
            :title => (product.name)
          }  %>
      </div>
    </div>
  </div>
</div>