<% 
  set1 = []
  set2 = []
  @products.each_with_index do |prod, index|
    if index % 2 == 0
      set1 << prod
    else
      set2 << prod
    end
  end
%>

<% if set1.size > 0 %>
  <div class="span6">
    <% set1.each do |product| %>
      <div class="featured-item">
        <%= avatar_of_product(product, {}, {
          :class => 'img pull-left span3'
        }) %>
        <strong><%= link_to_product(product)%></strong>
        <p>
          by <%= link_to_advertiser(product.advertiser,:short) %> 
          <% unless product.category.nil? %>
            in <%= link_to_category(product.category,:short) %>
          <% end %>
        </p>
        <p><%=raw(product.short_description(40))%></p>
      </div>
    <% end %>
  </div>
<% end %>

<% if set2.size > 0 %>
  <div class="span6">
    <% set2.each do |product| %>
      <div class="featured-item">
        <%= avatar_of_product(product, {}, {
          :class => 'img pull-left span3'
        }) %>
        <strong><%= link_to_product(product)%></strong>
        <p>
          by <%= link_to_advertiser(product.advertiser,:short) %> 
          <% unless product.category.nil? %>
            in <%= link_to_category(product.category,:short) %>
          <% end %>
        </p>
        <p><%=raw(product.short_description(40))%></p>
      </div>
    <% end %>
  </div>
<% end %>
