<% content_for(:page_title) { "ShopWithMe - Listing all the products" } %>
<% content_for(:page_description) { "ShopWithMe - Listing all the products" } %>

<%=render 'search_form'%>

<div class="main_content detail-product">
  <h3 class="title">LISTINGS by search <%=params[:search]%></h3>

  <% if @products.results.size > 0 %>
    <%= render @products.results  %>
    <%= paginate @products.results, :window => 2 %>
  <% else %>
    <%= render 'products/no_products' %>
  <% end %>

</div>
