<% content_for(:page_title) { "#{@product.name} by #{@product.advertiser}" } %>
<% content_for(:page_description) { "View #{@product.name}"} %>
<div class="main_content detail-product" itemscope itemtype="http://schema.org/Product">           
  <h3 class="title"><%= raw(@product.name)%></h3>      
  <div class="row-fluid">
    <div class="span4">
      <% unless @product.aw_image_url.blank? %>

      <%= link_to(image_tag(@product.aw_image_url, {
        :alt => raw(@product.name),
        :title => raw(@product.name),
        :itemprop => "image",
      }), @product.merchant_image_url, {
        :class => "thumbnail", 
        :title => raw(@product.name),
        :itemprop=>product_path(@product), 
        :"data-fancybox-group" => "group1"
      } )%>
      <% end %>
      <ul class="thumbnails small">               
        <li class="span4">
          <% unless @product.aw_image_url.blank? %>
            <%= link_to(image_tag(@product.aw_image_url, {
        :alt => raw(@product.name),
        :title => raw(@product.name),
      }), @product.merchant_image_url, {
        :class => "thumbnail", 
        :title => raw(@product.name),
        :"data-fancybox-group" => "group1"
      } )%>  
          <% end %>
          
        </li>
      </ul> 
    </div>

    <div class="span8">
      <ul class="social pull-right">
        <li>
          <div class="fb-like" data-send="true"  data-href="<%=product_url(@product)%>" data-layout="button_count" data-show-faces="false"></div>
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=product_url(@product)%>" 
            data-text="<%=raw(@product)%>" data-count="none" data-hashtags="ShopWithMe" data-via="shop-with.me">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </li>
      </ul>
    </div> 

    <div class="span8">
      <h1 itemprop="name" class="smaller">
        <%
=begin %> <span class="label label-important">10%</span> 
<%
=end %>  
  <%= (@product.name)%></h1>
      <span itemprop="description"><%= raw(@product.short_description(15))%></span>
      
      <h4 class="clearfix">
        <%= button_to "Click Here To See The Brand New Price!", visit_product_path(@product), :class => "btn btn-large btn-danger" %>
      </h4>

      <div class="contact-information">
        <h5>MERCHANT INFORMATION</h5>
        <address>       
          <i><%= raw(@product.advertiser.name + "<br />" + @product.advertiser.strapline) %></i>
          <p>
            <strong>See more products by:</strong> <%=link_to_advertiser(@product.advertiser)%> 
            <% unless  @product.category.nil? %>
              <br />
              <strong>See more products in category:</strong> <%=link_to_category(@product.category)%>
            <% end %> <br /></p>
        </address>
        <%= button_to "Details", visit_product_path(@product), :class => 'btn btn-charlie ' %>
<% 
=begin %> <p><strong>Contact Name:</strong> Adam Samdllor<br/>
          <strong>Phone:</strong> (434) 658-4638<br/>
          <strong>E-mail:</strong> <a href="#myModal" role="button" data-toggle="modal">send an e-mail</a><br/>
          <strong>URL:</strong> <a href="#" target="_blank">http://www.cuongv.com</a></p>
<% 
=end %>
      </div>              
    </div>              
  </div>
  <br />
  <div class="row-fluid">
    <div class="span12">
      <ul class="nav nav-tabs" id="myTab">
         <li class="active"><a href="#desc">DESCRIPTION</a></li>
        <li><a href="#specs">SPECIFICATIONS</a></li>
        <!-- <li><a href="#profile">RECENT REVIEWS</a></li> -->
      </ul>              
      <div class="tab-content">
          <div class="tab-pane active" id="desc">
          <%= @product.description.blank? ? "There is no description available" : raw(@product.description)%></div>

        <div class="tab-pane" id="specs">
          <%= @product.specifications.blank? ? "There are no specifications available" : raw(@product.specifications)%>
        </div>
        <% 
=begin %>
        <div class="tab-pane" id="profile">
          <div class="reviews-item">
            <div>
              <a href="#" title="John"><img class="img" src="img/products/1_photo_1776.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Ann Hotel</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
            </div>
            <a href="#">» Read More</a>
            <p>The staff are the best! The rooms were clean! The parking was great!I had a great stay there! Can't wait to come back!!</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="John">John</a>
                <br>Arlington, VA, 08/05/2011 - 03:37 pm</p>
            </div>
          </div>
          <div class="reviews-item">
            <div>
              <a href="#" title="Mark"><img class="img" src="img/products/218_photo_1772.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Mattew Law Firm</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            </div>
            <a href="#">» Read More</a>
            <p>They were responsive, attentive and friendly while helping us.</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="Mark">Mark</a>
                <br>Tulsa, Oklahoma, 06/16/2010 - 06:26 pm</p>
            </div>
          </div>
          <div class="reviews-item">
            <div class="item">
              <a href="#" title="Julia"><img class="img" src="img/products/9_photo_1778.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Tayu</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
            </div>
            <a href="#">» Read More</a>
            <p>The best part of this restaurant was definitely the decor and the server. We had the agedashi tofu and it was THE BES...</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="Julia">Julia</a>
                <br/>Norwich, New York, 06/16/2010 - 06:19 pm</p>
            </div>
          </div>
        </div>
<% 
=end %>
      </div>              
    </div>              
  </div>            
</div>

        