<% content_for(:page_title) { "#{@product.name} by #{@product.advertiser}" } %>
<% content_for(:page_description) { "View #{@product.name}"} %>
<div class="main_content detail-product">           
  <h3 class="title"><%=(@product.category)%></h3>      
  <div class="row-fluid">
    <div class="span4">
      <%= link_to(image_tag(@product.aw_image_url, {
        :alt => (@product.name),
        :title => (@product.name),
      }), @product.merchant_image_url, {
        :class => "thumbnail", 
        :title => (@product.name),
        :"data-fancybox-group" => "group1"
      } )%>
      <ul class="thumbnails small">               
        <li class="span4">
          <%= link_to(image_tag(@product.aw_image_url, {
        :alt => (@product.name),
        :title => (@product.name),
      }), @product.merchant_image_url, {
        :class => "thumbnail", 
        :title => (@product.name),
        :"data-fancybox-group" => "group1"
      } )%>
        </li>
      </ul> 
    </div>

   <!--  <div class="span8">
      <ul class="social pull-right">
        <li>                  
          <div class="fb-like" send="false" layout="button_count" data-href="example.org"></div>
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://a-smart.vn/products/itab-a989i3g-goi-dien.html" data-text="iTab A989i(3G)" data-via="a-smart.vn">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>
      </ul>
    </div> -->

    <div class="span8">
      <h5><!-- <span class="label label-important">10%</span> --> <%= (@product.name)%></h5>
      <%= (@product.description)%>
      <h4 class="clearfix"><strong>Price: 
          <span class="label label-important price"><%=@product.price%> <%=@product.currency%></span></strong></h4>                
      <div class="contact-information">
        <h5>MERCHANT INFORMATION</h5>
        <address>       
          <i><%= raw(@product.advertiser.name + "<br />" + @product.advertiser.strapline) %></i>
        </address>
        <%= link_to 'Details', visit_product_path(@product), {
          :class => 'btn btn-charlie', 
          :title => (@product.name)
        }  %>
<% 
=begin %> <p><strong>Contact Name:</strong> Adam Samdllor<br/>
          <strong>Phone:</strong> (434) 658-4638<br/>
          <strong>E-mail:</strong> <a href="#myModal" role="button" data-toggle="modal">send an e-mail</a><br/>
          <strong>URL:</strong> <a href="#" target="_blank">http://www.cuongv.com</a></p>
<% 
=end %>
      </div>              
    </div>              
  </div>
  <br />
  <div class="row-fluid">
    <div class="span12">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#specs">SPECIFICATIONS</a></li>
        <% 
=begin %>
        <li><a href="#profile">RECENT REVIEWS</a></li>
        <% 
=end %>
      </ul>              
      <div class="tab-content">
        <div class="tab-pane active" id="specs">
          <%= @product.specifications.blank? ? "There are no specifications available" : (@product.specifications)%>
        </div>
        <% 
=begin %>
        <div class="tab-pane" id="profile">
          <div class="reviews-item">
            <div>
              <a href="#" title="John"><img class="img" src="img/products/1_photo_1776.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Ann Hotel</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
            </div>
            <a href="#">» Read More</a>
            <p>The staff are the best! The rooms were clean! The parking was great!I had a great stay there! Can't wait to come back!!</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="John">John</a>
                <br>Arlington, VA, 08/05/2011 - 03:37 pm</p>
            </div>
          </div>
          <div class="reviews-item">
            <div>
              <a href="#" title="Mark"><img class="img" src="img/products/218_photo_1772.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Mattew Law Firm</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
            </div>
            <a href="#">» Read More</a>
            <p>They were responsive, attentive and friendly while helping us.</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="Mark">Mark</a>
                <br>Tulsa, Oklahoma, 06/16/2010 - 06:26 pm</p>
            </div>
          </div>
          <div class="reviews-item">
            <div class="item">
              <a href="#" title="Julia"><img class="img" src="img/products/9_photo_1778.jpg" alt="" title=""></a>
            </div>
            <strong><a href="#">Tayu</a></strong>
            <div class="rate">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOn.png" alt="Star On">
              <img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
            </div>
            <a href="#">» Read More</a>
            <p>The best part of this restaurant was definitely the decor and the server. We had the agedashi tofu and it was THE BES...</p>
            <div class="info">
              <p>by&nbsp;<a href="#" title="Julia">Julia</a>
                <br/>Norwich, New York, 06/16/2010 - 06:19 pm</p>
            </div>
          </div>
        </div>
<% 
=end %>
      </div>              
    </div>              
  </div>            
</div>

        