<!DOCTYPE html>
<html>
<head>
    <% if Rails.env == 'production' %>
      <title><%= (DOMAIN_NAME  + (content_for?(:page_title) ? ' - ' + yield(:page_title) : DOMAIN_STRAPLINE )) %></title>
      <meta name="description" content="<%= (DOMAIN_NAME  + (content_for?(:page_description) ? ' - ' + yield(:page_description) : "") )%>"/>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%=ANALITYCS%>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
      <meta name="msvalidate.01" content="C37E9EC521B9371CC59E45A9438EAACF" />
    <% elsif !devise_controller? %>

      <title><%= ( DOMAIN_NAME + (content_for?(:page_title) ? ' - ' + yield(:page_title) : (raise "no title" )) ) %></title>
      <meta name="description" content="<%= (content_for?(:page_description) ? DOMAIN_NAME + ' - ' + yield(:page_description) : ( raise "no page_description" )) %>"/>
    <% end %>
    
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="<%= params[:controller] + " " + params[:action] %>">
<!-- Digital window verification 001 -->
<%= render 'layouts/header' %>
  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <%= yield %>
    </div>
    <div class="span3">
      <%= render  params[:action] + '_sidebar' unless devise_controller? %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
