<!DOCTYPE html>
<html>
<head>
  <title>
    <% if Rails.env == 'production' %>
      <%= 'ShopWithMe' + (content_for?(:page_title) ? ' - ' + yield(:page_title) : "" ) %></title>
      <meta name="description" content="<%= 'ShopWithMe' + (content_for?(:page_description) ? ' - ' + yield(:page_description) : "") %>"/>
    <% else %>
      <%= 'ShopWithMe' + (content_for?(:page_title) ? ' - ' + yield(:page_title) : (raise "no title" )) %></title>
      <meta name="description" content="<%= content_for?(:page_description) ? 'ShopWithMe - ' + yield(:page_description) : (raise "no page_description" ) %>"/>

    <% end %>
    
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] + " " + params[:action] %>">

<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
