<!DOCTYPE html>
<html>
<head>
    <% if Rails.env == 'production' %>
      <title><%= 'ShopWithMe - Error' %></title>
      <meta name="description" content="<%= 'ShopWithMe - Some kind of error occured' %>"/>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-41086843-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>
    
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
  </style>

</head>
<body class="<%= params[:controller] + " " + params[:action] %>">

<%= render 'layouts/header' %>
  
<div class="container-fluid">
  <div class="row-fluid">
      <%= yield %>
  </div>
</div>

<%= Rails.cache.fetch("cache_footer", :expires => 20.minutes ) { render 'layouts/footer' } %>

<% if current_admin and not current_admin.nil? %>
  <script type="text/javascript">
    $(document).ready(function(){
      link = 'https://www.google.com/webmasters/tools/removals-request?hl=en&siteUrl=http://www.shop-with.me/&urlt=' + document.location.href;
      $('#removeLink').attr('href',link);
    });
  </script>
<% end %>
</body>
</html>
